export(align.col)
export(average)
export(copy)
export(explore.data)
export(ken.sto)
export(plot.regr)
export(plot.trans)
export(pred.regr)
export(read.spc)
export(regr)
export(summary.regr)
export(trans)
export(view.spectra)
importFrom(KernSmooth,locpoly)
importFrom(pls,mvr)
importFrom(hexView,readRaw)
importFrom(wavelets,dwt)
